:root
    --color-primary: #f9a826
    // --color-secondary: #01d9c4
    // --color-accent: #ff2bc1

    --color-bg: #fff
    --color-bg-2: #f0f0fb

    --color-text: #141b39

    body.dark
        // https://mdigi.tools/color-shades
        --color-bg: #1c1c1c
        --color-bg-2: #262626
        --color-text: #eee
        --color-text-2: #646464
        --color-border: #595959
